#into{
    background-color:rgb(145, 207, 124);
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

.sec {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.tab {
    width: 350px;
    height: 50px;
    margin: 10px;
    background-color: rgb(60, 202, 13);
    text-align: center;
    align-content: center;
    border-radius: 50px;
}

.tab:hover {
    background-color: rgb(14, 70, 190);
}

a {
    text-decoration: none;
    color: white;
}