#into{
    background-color:rgb(145, 207, 124);
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

h1 {
    margin: 10px;
}

.btn {
    margin: 10px 5px;
}

.accordion-button {
    font-size: 25px;
    color: rgb(0, 85, 255);
}

td {
    text-align: center;
    padding: 0 10px;
}

th {
    text-align: center;
}

.next {
    margin: 0 10px;
}

.divnext {
    margin: 10px;
}